@charset "utf-8";

/*******************************
* 
* Overrides
* 	
* Overrides must be placed before Bulma
* imports.
*
********************************/

/*******************************
* THEME 
********************************/

// Fonts
$family-primary: Arial, Helvetica, sans-serif; // header

// set body font
$body-family: $family-primary;
h1, h2, h3, h4, h5, h6
{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

// Colors
$primary:hsl(141, 71%, 58%);
$secondary: #12130F;
$navbar-item-hover-color: hsl(171, 100%, 41%); // bulma primary
$menu-item-active-background-color: $secondary;

/*******************************
* Navigation 
********************************/

// For large screens, left align logo and
// center menu links
@media only screen and (min-width: 1024px) {
	.navbar {
		display: flex;
		align-content: center;
		justify-content: center;
	}
	
	.navbar .navbar-menu {
		flex-grow: initial;
		flex-shrink: initial;
	}
	
	.navbar .navbar-brand {
		position: absolute;
		left: 0;
	}

	.navbar .navbar-end {
		width: 10em;
		right: 1em; 
		// vertically center container
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
}

// Center mobile menu links
.navbar-menu.is-active {
	text-align: center;
}


@media only screen and (max-width: 1024px) {
	// center and size search input in nav
	.navbar-end .field {
		width: 50%;
		margin: auto;	
	}
}

/*******************************
* Sticky Footer + overrides
********************************/

$footer-padding: 1.0rem;
$footer-background-color: $secondary;

// sticky footer
main {
	flex: 1;
}

#app-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*******************************
* IMPORT BULMA
********************************/
@import "~bulma/bulma.sass";

.bulma-fa-mixin {
	@include fa(1rem, 2rem);
}


/*******************************
* Custom Style Imports
********************************/

@import "base-styles.scss";
@import "post-styles.scss";
@import "pages-styles.scss";
@import "components-styles.scss";
@import "layout-styles.scss";